<html>
    <head> 
        <title>TabletkiApt.UA</title>
        <meta http-equiv="content-type" content="text/html"; charset="uft-8" />
        <meta name="keywords"    content="Tabletki" />
        <meta name="description" content="TabletkiApt.UA" />
        <link rel="shorcut icon" type="image/ico" href="image/icon.ico" />
        <link rel="stylesheet"   type="text/css" href="css/style.css"/> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    </head>
<body class="main">
<div class="Header">
    <div class="TopHeader">    
        <div class="LogoType">
            <img class="AptecaLogo" src="image/logo.png">
            <div class="AptecaName">
                <p>Tabletki</p>
                <p>APT.UA</p>
            </div>
        </div>
        <nav class="TMenu">
            <button class="fbutton">
            <img src="image/map.svg">
            <p>Map</p>
            </button>
            <button>
                <p>Brandy</p>
            </button>
            <button>
                <p>Reviews</p>
            </button>
            <button>
                <p>Vacancies</p>
            </button>
            <button>
                <p>Contacts</p>
            </button>
            <button>
                 <p>Directory</p>
            </button>
        </nav> 
        <div class="SetingContent">
        <button class="Langwich">
            <img src="image/langwich.png">
            <p>UA</p>
        </button>
        <button class="Profile">
            <img src="image/moon.svg">
        </button>
        </div>  
    </div>
</div>
<div class="Header2" >
    <div class="MidlHeader">

        <form class="SearchField">
         <button class="catalog-btn"><img src="image/lines.png"><p>Cataloge</p></button>
         <div class="InputBorder">
             <input type="text" placeholder="Searching...">
             <button><img src="image/search.png"></button>
         </div>
        </form>
        <div class="HelpField">
            <button> <img src="image/mag.png"></button>
            <button> <img src="image/person.png"></button>
            <button> <img src="image/phone.png"></button>
        </div>
    </div>
    <div class="DownHeader">
            <ul class="DMenu">
               <li class="DMenuButtons"><p>Medicine<img src="image/pill.svg"></p>
                  <ul class="DMenu_SubMenu">
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                  </ul>
               </li>
               <li class="DMenuButtons"><p>Vitamins<img src="image/mpills.svg"></p>
                   <ul class="DMenu_SubMenu">
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                   </ul>
               </li>
               <li class="DMenuButtons"><p>Vitamins<img src="image/hygiene.svg"></p>
                  <ul class="DMenu_SubMenu">
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                  </ul>
               </li>
               <li class="DMenuButtons"><p>Makeup<img src="image/makeup.svg"></p>
                  <ul class="DMenu_SubMenu">
                    <li><a href="#">Пункт-7 ></a></li>
                    <li><a href="#">Пункт-7 ></a></li>
                    <li><a href="#">Пункт-7 ></a></li>
                    <li><a href="#">Пункт-7 ></a></li>
                  </ul>
               </li>
               <li class="DMenuButtons"><p>For Children's<img src="image/toy.svg"></p>
                 <ul class="DMenu_SubMenu">
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                    <li><a href="#">Пункт-7</a></li>
                 </ul>
               </li>
               <li class="DMenuButtons"><p>Directory<img src="image/blok.png"></p>
                <ul class="DMenu_SubMenu">
                    <li><a href="#">Пункт</a></li>
                    <li><a href="#">Пункт</a></li>
                    <li><a href="#">Пункт</a></li>
                    <li><a href="#">Пункт</a></li>
                 </ul>
               </li>
            </ul>
    </div>
</div>
<div class="Content">
<div class="Reklama">
    <div class="swiper mySwiper" id="advertisement">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="image/6392575.png"></div>
          <div class="swiper-slide"><img src="image/33467.png"></div>
          <div class="swiper-slide"><img src="image/6350788.png"></div>
          <div class="swiper-slide"><img src="image/6119868.png"></div>
          <div class="swiper-slide"><img src="image/10264982.png"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
</div> 
<div class="PropozitionButtons">
<button><img src="image/tb2.png">
    <div class="pi"><p class="pi1">Available Medicines</p><p class="pi2">Order by electronic appointment</p></div>
</button>
<button><img src="image/Delivery.png"><div class="pi"><p class="pi1">Delivery</p><p class="pi2">Methods, terms, conditions</p></div></button>
<button><img src="image/Apt.png"><div class="pi"><p class="pi1">Mode "Your Pharmacy"</p><p class="pi2">Order at the selected pharmacy</p></div></button>
<button><img src="image/Tovar.png"><div class="pi"><p class="pi1">Goods under order</p><p class="pi2">Order at the selected pharmacy</p></div></button>
</div> 
<div class="PopularProducts">
    <div class="BorderSection">
        <p>Popular Products</p>
    </div>
    <div class="PopularProductsCards">
        <div class="Card"><img src="https://root.tblcdn.com/img/goods/af45c99d-56c8-41d0-a9de-165885bad426/1/img_0.jpg?v=AAAAAAnhZ4I"><div class="CardsWords"><p>Citramon-Darnitsa</p><p>40 ₴</p></div></div>
        <div class="Card"><img src="https://root.tblcdn.com/img/goods/4d006275-fd7d-4b8b-95a6-a89cef03483a/1/img_0.jpg?v=AAAAAAnhZ4c"><div class="CardsWords"><p>No-Shpa</p><p>90 ₴</p></div></div>
        <div class="Card"><img src="https://root.tblcdn.com/img/site_pages/261c9040-ad2e-11ed-badd-000c2992667d/d831daed-3420-449e-b717-2cb53289109a/ea0641c7-d2b5-4a7b-8250-5f6462e6c511/c2b95a29-39f3-4eb7-8d54-371e190c1cb7_prod.png"><div class="CardsWords"><p>LIPO-6-BLACK</p><p>900₴</p></div></div>
        <div class="Card"><img src="https://root.tblcdn.com/img/goods/d80dc1ea-8443-4f68-b1e2-27c031e5d1cf/1/img_0.jpg?v=AAAAAAueZ0o"><div class="CardsWords"><p>Ascorbynka</p><p>12₴</p></div></div>
        <div class="Card"><img src="https://root.tblcdn.com/img/goods/0a65d975-9cc7-484a-bacc-ceab6cd64b32/1/img_0.jpg?v=AAAAAAoPGXI"><div class="CardsWords"><p>Hepargin</p><p>500₴</p></div></div>
        <div class="Card"><img src="https://root.tblcdn.com/img/goods/9bf4a4b7-6449-4163-831b-d8e71c8212e8/1/img_0.jpg?v=AAAAAAmluKY"><div class="CardsWords"><p>reo</p><p>30₴</p></div></div>
    </div>
</div>
<div class="Sales_Recomendation">
    <div class="BorderSection">
        <p>We rekomended</p>
    </div>
    <div class="Sales_RecomendationCards">
        <div class="Card"><img src="https://apteka911.ua/content/shop/actions/15664/list-300x412-1afd.jpg"></div>
        <div class="Card"><img src="https://apteka911.ua/content/shop/actions/15946/list-300x412-9930.jpg"></div>
        <div class="Card"><img src="https://apteka911.ua/content/shop/actions/15832/list-300x412-e37a.jpg"></div>
        <div class="Card"><img src="https://apteka911.ua/content/shop/actions/15844/list-300x412-45f5.jpg"></div>  
    </div>
</div>
<div class="Sales_Recomendation">
    <div class="BorderSection">
        <p>Discounted products</p>
    </div>
    <div class="Sales_RecomendationCards">
        <div class="Card"><img src="https://www.add.ua/media/catalog/product/cache/0cb86aa621afec2b43f6f8736c54c157/1/-/1-vimaks4grinvud_jpg.webp"><div class="CardsWords"><p>Vimaks Forte capsules №4</p><del>$200</del><p>$163.10</p></div></div>
        <div class="Card"><img src="https://www.add.ua/media/catalog/product/cache/0cb86aa621afec2b43f6f8736c54c157/3/6/3670-730-big-1500x1500-321e_jpg.webp"><div class="CardsWords"><p>Medichronal-Darnitsa</p><del>$1500</del><p>$1,408.32</p></div></div>
        <div class="Card"><img src="https://www.add.ua/media/catalog/product/cache/ed3f12c75012f60548855a49cff62c20/6/9/6987_jpg.webp"><div class="CardsWords"><p>Rilastil Serum</p><del>$300</del><p>$223.00</p></div></div>
        <div class="Card"><img src="https://www.add.ua/media/catalog/product/cache/ed3f12c75012f60548855a49cff62c20/3/8/388_1_png.webp"><div class="CardsWords"><p>Fenistil Gel</p><del>$30</del><p> $25</p></div></div>
        <div class="Card"><img src="https://www.add.ua/media/catalog/product/cache/ed3f12c75012f60548855a49cff62c20/2/9/294688-69016-big-1500x1500-bb05_jpg.webp"><div class="CardsWords"><p>Solgar</p><del>$$1,500.80</del><p>$1,217.80</p></div></div>
        <div class="Card"><img src="https://apteka911.ua/content/shop/products/148525/batonchik-myusli-mr-zlak-mr-zlak-apelsin-kinoa-25-g-vitapak-ooo-list-250x250-e95a.jpg"><div class="CardsWords"><p>Muesli</p><del>$25</del><p> $20</p></div></div>        
    </div>
</div>
<div class="Information">
    <div class="TextInformation"><h2>Medical information system "TabletkiApt.UA" — the advantages of an online pharmacy and a marketplace for health products in one place</h2>
    <p>We, as a caring team of the medical information system "TabletkiApt.UA", provide you with medical and pharmaceutical information, as well as act as an intermediary between you and many partner pharmacies and service providers, so that you can receive the service of online pharmacies with delivery across Ukraine, have able to find any health products on a large marketplace, and could also use the services of doctors and laboratories at the same time.</p>
    <p>Let's talk about it in more detail</p>
    <h2>Why are we better than other similar pharmaceutical services and online pharmacies?</h2>
    <p>We have made every possible effort to implement the entire list of options that may be necessary for searching and ordering pills and other medical products online:</p>
    <p><b>You can find and buy medicines online at partner pharmacies</b> — without leaving home and without risking infectious diseases. We have a simple and clear website navigation, there is a convenient search for medicines, operators will help you place an order, even if your medical prescription is written in illegible handwriting, and they will also call and make an order for you free of charge. And you can also use a chatbot that works on the basis of artificial intelligence.</p>
    <p><b>Low prices that will save you money.</b> We understand that the purchase of medicines is not an expense that brings joy. But health is priceless. That's why we quickly inform you about the reduction in prices for medicines, as well as about promotions and discounts.</p>
    <p><b>Lots of products for everyone.</b> Health is not only about medical drugs for the treatment of diseases, but also about comprehensive care of the body. That's why we created our site as a large online store of medicines and various health products. In addition to tablets, here you will find product categories:</p>
    <ul>
        <li>for mothers and children;</li>
        <li>for pregnant women;</li>
        <li>for elderly people;</li>
        <li>hygiene items;</li>
        <li>cosmetics and accessories;</li>
        <li>medical equipment and orthopedic products;</li>
        <li>nutrition for athletes;</li>
        <li>for family planning;</li>
        <li>aromatherapy, essential oils and much more.</li>
    </ul>
    <p><b>Quality guarantee.</b> Products presented on the site have quality certificates. Manufacturers and suppliers scrupulously follow the rules of storage and transportation, strictly adhere to the cold regime, because medicines must not be spoiled, because pharmaceutical services are responsible for your health.</p>
    <p><b>All kinds of delivery methods.</b> The COVID-19 pandemic and subsequent military actions have shown how important it is that people are not forced to leave their homes unnecessarily. That is why our partners provide a decent service of delivering medicines to your home and to the nearest pharmacy. We will talk about this in more detail below.</p>
    <p><b>Medical services.</b> Here you will find the Telemedicine service, where you can get a free online consultation with a doctor and prescription of medicines. Under the partner program "Affordable Medicines" you will receive drugs quickly and conveniently. You can also use the services of the Doctor 9-1-1 medical center and perform tests in the German laboratory "Laboratory of Dr. Rödger" and in the Ukrainian laboratory-diagnostic center "CSD".</p>
    <h2>Delivery of medicines to your home or to the nearest pharmacy: how does it work?</h2>
    <p>There are several ways for your convenience:</p>
    <p><b>Pickup You place an order through our website</b>, and then pick it up at the nearest pharmacy. We have more than 1,500 partner pharmacies throughout Ukraine, so one of them will definitely be near your home</p>
    <p><b>By Nova Poshta or Ukrposhta.</b> If it so happened that our partner point is not near you, you can receive your order at the nearest branch, post office machine of the postal operator or by courier to your home.</p>
    <p><b>Courier express delivery.</b>In Kyiv, there is free delivery around the city with the possibility of receiving the order in the selected time slot during the day. In other cities and regions, you can receive the goods in 2 hours with payment of the delivery cost from UAH 70, depending on the region and distance. For orders over UAH 1,000 in the regions and over UAH 1,500 in Kyiv, there is free express delivery within 2 hours.</p>
    <p><b>International delivery.</b>Since the beginning of the war, many Ukrainians were forced to go abroad. But in a new country, the pills you need may not be available. However, you have the opportunity to deliver medicines abroad thanks to the services of postal operators.
    You can read more about the conditions on the Delivery page.</p>
   </div> 
   <div class="BorderSerft"><h2>Awards and certificates</h2></div>
    <div class="TnfImage">
        <img src="https://apteka911.ua//content/documents/325/32488/Attaches/pan2021-min-custom-226x323-5dda.png">
        <img src="https://apteka911.ua//content/documents/325/32488/Attaches/66-min-custom-226x320-4152.jpg">
        <img src="https://apteka911.ua//content/documents/325/32488/Attaches/65-min-custom-226x320-a6bb.jpg">
        <img src="https://apteka911.ua//content/documents/325/32488/Attaches/67-min-custom-226x320-5ebd.jpg">
        <img src="https://apteka911.ua//content/documents/325/32488/Attaches/36-custom-226x320-5210.jpg">
    </div>
</div>
</div>
<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h3>About Us</h3>
            <p>We care about your health and well-being. Your health is our priority.</p>
        </div>
        <div class="footer-section contact">
            <h3>Контакты</h3>
            <p>Tell: 0960970505</p>
            <p>Email: TabletkiAptUA@gmail.com</p>
        </div>
        <div class="footer-section links">
            <h3>Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 TabletsAptUA. All rights reserved.
    </div>
</footer>

<script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
      mousewheel: true,
      keyboard: true,
      autoplay: {
            delay: 5000, 
            disableOnInteraction: false, 
        },
    });
  </script> 
</body>
</html>
