.main {
    color: #000; 
    margin: 0px; 
    padding: 0px; 
    display: flex; 
    flex-direction: column; 
}
.main .header {
    flex-basis: 5%;
    background: rgb(34,139,34);
    background: linear-gradient(0deg, rgba(34,139,34,1) 34%, rgba(38,140,34,1) 43%, rgba(41,140,34,1) 73%, rgba(65,145,35,1) 100%);
    display: flex; 
    flex-direction: column;
    margin: 0px; 
    padding: 0px; 
    margin-bottom: 0.1vh;
}
.main .header2 {
    flex-basis: 5%;
    background: rgb(35,154,35);
    background: linear-gradient(0deg, rgba(35,154,35,1) 1%, rgba(34,139,34,1) 34%, rgba(38,140,34,1) 43%, rgba(41,140,34,1) 73%, rgba(65,145,35,1) 100%);
    display: flex; 
    flex-direction: column;
    margin: 0px; 
    padding: 0px; 
    margin-bottom: 2vh;
    position: sticky;
    top :0;
    align-self: stretch; /* Добавляем это свойство */
    height: 15vh; /* Пример высоты */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.TopHeader{ 
    flex-basis: 30%; 
    height: 6vh;
    display:flex; 
    flex-direction: row; 
    border-bottom: 2px solid #ffff; 
    margin:  0px;
    padding: 0px;
    padding-left: 1vw;
    align-items: center;
}
.TopHeader .LogoType{
    display:flex;
    align-items: center;
    flex-basis: 8%; 
    flex-direction: row; 
    border-right:2px solid #fff;
    margin:  0px;
    padding: 0px; 
    margin:  0px; 
    height: 6vh;
    width: 10vh;
}
.TopHeader .LogoType .AptecaName{
    margin:  0px;
    padding: 0px; 
    flex-basis: 20%; 
    margin:  0px; 
    padding: 0px; 
    height: 6vh;
}
.TopHeader .LogoType .AptecaLogo{
    width: 3vw;
    height: 6vh;
    color: white;
}

.TopHeader .LogoType .AptecaName{ 
    color: white;
    display: flex;
    flex-direction: column; 
    margin:  0px;
    padding: 0px;
}
.TopHeader .LogoType .AptecaName p{ 
    align-items: center;
    color: white;
    margin:  0px;
    padding: 0px;
    margin-left: 0.1vw;
    font-size: 1vw;
}
.TopHeader .TMenu{
    flex-basis: 60%; 
    display: flex;
    flex-direction: row;
    margin:  0px; 
    padding: 0px; 
}
.TopHeader .TMenu .fbutton{
    justify-content: center;
    flex-basis: 16.6%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-left:2vw ;
    margin-right: 0vw;
    background-color: rgba(0, 0, 0, 0); 
    border: none; 
    cursor: pointer;
}
.TopHeader .TMenu .fbutton p 
{
    color: #fff;
    font-size: 1.5vw;
    margin-top: 0 vh;
    margin-bottom: 0px;
}

.TopHeader .TMenu button{
    flex-basis: 16.6%;
    margin:0px;
    height: auto;
    width: 9vw;
    background-color: rgba(0, 0, 0, 0); 
    border: none; 
    cursor: pointer;
}
.TopHeader .TMenu button p{
    color: #fff;
    font-size: 1.5vw;
    margin-top:0vh;
    margin-bottom: 0px;
}
.TopHeader .SetingContent{
    flex-basis:20%;
    display: flex;
    flex-direction: row;
    height: 6vh;
    justify-content:end;
    
}
.TopHeader .SetingContent .Langwich{
    display: flex;
    align-items: center;
    flex-basis: 20%;
    height: 6vh;
    background-color: rgba(0, 0, 0, 0); 
    border: none;
    cursor: pointer;
    color: #fff;
}
.TopHeader .SetingContent .Langwich p
{
    font-size: 1.4vw; 
}
.TopHeader .SetingContent .Langwich img
{
    width: 2vw;
    height:4vh ;
}
.TopHeader .SetingContent .Profile
{
    margin-left: 5vw;
    display: flex;
    align-items: center;
    flex-basis: 20%;
    height: 6vh;
    background-color: rgba(0, 0, 0, 0); 
    border: none;
    cursor: pointer;
    color: #fff;
}
.TopHeader .SetingContent .Profile img
{
    width: 3vw;
    height:6vh ;
}

.MidlHeader{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px; 
    background-color: #228B22;

}
.MidlHeader .SearchField {
    flex-basis: 66%;
    height: 5vh;
    padding: 0px;
    padding-top: 2vh;
    padding-left: 2vh;
    margin: 0px;
    display: flex;
    flex-direction: row;
    
}
.MidlHeader .SearchField button {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
    padding: 0px;
    margin: 0px;
    background-color: 68D300;
    border-top-left-radius: 10px; /* Закругление левого верхнего угла для поля ввода */
    border-bottom-left-radius: 10px; /* Закругление левого нижнего угла для поля ввода */
    border: none; 
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.MidlHeader .SearchField button p{   
    font-size: 3.5vh;
    color: whitesmoke; 
    margin:0%; 
    margin-top: 0.3vh;
}
.MidlHeader .SearchField button img{
    width: 2vw;
    margin-top: 0px;
    margin-right: 0.5vw;
}
.MidlHeader .SearchField .InputBorder{
    flex-basis: 80%;
    display: flex;
    justify-content: space-between; 
    background-color: azure; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.MidlHeader .SearchField .InputBorder input {
    flex-basis: 90%;
    padding: 0px;
    margin: 0px;
    margin-left: 1vw;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 3vh;
}
.MidlHeader .SearchField .InputBorder button{
    flex-basis: 10%;
    background-color: rgba(0, 0, 0, 0); 
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);

}
.MidlHeader .SearchField .InputBorder button img{
    margin-top: 0.5vh;
    width: 2vw;
    height: 4vh;
}    
.MidlHeader .HelpField{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 30%; 
    height: 5vh;
    padding: 0px;
    padding-top: 2vh;
    padding-left: 2vh;
    margin: 0px;
}
.MidlHeader .HelpField button{ 
  margin-right: 3vw;
  padding: 0vw;
  background-color: rgba(0, 0, 0, 0); 
  border: none;
  cursor: pointer;
}
.MidlHeader .HelpField img{
    height: 4vh; 
    width: 2vw; 
    
}
.MidlHeader .HelpField p{
    font-size: 4vh; 
    color: azure; 
    margin: 0%;
}
.DownHeader{
    flex-basis: 20%; 
    padding-left: 5%; 
    padding-right: 5%;
    margin-top: 2vh;

}
.DownHeader li {
    position: relative;
    list-style: none;
}

.DownHeader .Dmenu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.DownHeader .Dmenu .DMenuButtons {
   height: auto;
    list-style: none;
    text-align: center;
    flex-basis: 20%;
    position: relative; /* Добавлено для позиционирования подменю */ 
    align-items: center;
}
.DownHeader .Dmenu .DMenuButtons img{height: 4vh; width:2vw; vertical-align: bottom;}


.DownHeader .Dmenu .DMenuButtons,
.DownHeader .Dmenu .DMenuButtons .DMenu_SubMenu {
    box-sizing: border-box;

}

.DownHeader .Dmenu .DMenuButtons .DMenu_SubMenu {
    display: none; /* Скрыть подменю по умолчанию */
    position: absolute;
    top: 100%; /* Позиция подменю под кнопкой */
    left: 0;
    width: 100%;
    background-color:#f5f5f5;
    border: 1px solid #ccc;
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.DownHeader .Dmenu .DMenuButtons:hover .DMenu_SubMenu {
    display: block; /* Отображать подменю при наведении на кнопку */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Добавляем тень */
}
.DownHeader .Dmenu ul {
    margin: 0;
    padding: 0;
    
}

.DownHeader .Dmenu .DMenuButtons p {
    margin: 0;
    height: 6vh;
    font-size: 3vh;
    cursor: pointer; /* Добавлено для указания на возможность нажатия */
    color: #fff;
    transition: background-color 0.3s ease;
    
}
.DownHeader .Dmenu .DMenuButtons p:hover{background-color: #1C542D;}

.DownHeader .Dmenu .DMenuButtons .DMenu_SubMenu li {
    padding: 1vh;
    border-bottom: 2px solid #cccccc;
}
.DownHeader .Dmenu .DMenuButtons .DMenu_SubMenu a{text-decoration: none; color: #000;}

.DownHeader .Dmenu .DMenuButtons .DMenu_SubMenu li:last-child {
    border-bottom: none; /* Убрать нижнюю границу у последнего элемента списка */
}

.main .Content {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    border-radius: 10px; 
    margin: 0px; 
    padding: 0px; 
}
.Content p{margin: 0px;}

.Content .Reklama {
    flex-basis: 15%;
    height: auto;
    margin: 0px; 
    padding: 0px; 
    margin-left: 2vw;
    margin-right: 2vw;
    border: 2px solid #cccccc;
    border-radius: 10px;
    overflow: hidden;
    z-index: -1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
#advertisement {
    height: 200px;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination {
    --swiper-pagination-color:#228B22 ;
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-inactive-opacity: 0.7;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }
  

.Content .PropozitionButtons{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis:5% ;
    margin-top: 2vh;
    z-index: -1;
    
}
.Content .PropozitionButtons button{
    display: flex;
    margin-left:  2vw;
    margin-right: 2vw;
    padding: 2vh;
    padding: 1vw;
    width: 20vw;
    height: 12vh;
    justify-content:first baseline;
    background: #1d7a1d;
    border: 2px solid #449223;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: rgb(35,154,35);
background: radial-gradient(circle, rgba(35,154,35,1) 16%, rgba(35,147,35,1) 37%, rgba(34,142,34,1) 48%, rgba(34,139,34,1) 63%, rgba(38,140,34,1) 68%, rgba(41,140,34,1) 90%, rgba(65,145,35,1) 100%);
    cursor: pointer;
}
.Content .PropozitionButtons button img{
    margin: 0.1vw;
    margin: 0.2vh;
}
.Content .PropozitionButtons button .pi{
    display: flex;
    flex-direction: column;
    margin-left: 0.1vw;
    color: azure;
    align-items: center;
    justify-content: center;
    
   }
.Content .PropozitionButtons button .pi .pi1{
    font-size: 3vh;
    color: azure;
   
}
.Content .PropozitionButtons button .pi .pi2{
    
    font-size: 2vh;
    color: azure;
    width: 10vw;
}
.Content .PopularProducts{
    flex-basis: 15%;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}
.PopularProducts .BorderSection{ 
    background: rgb(35,154,35);
    background: radial-gradient(circle, rgba(35,154,35,1) 16%, rgba(35,147,35,1) 37%, rgba(34,142,34,1) 48%, rgba(34,139,34,1) 63%, rgba(38,140,34,1) 68%, rgba(41,140,34,1) 90%, rgba(65,145,35,1) 100%);
    flex-basis: 10%;
    border-radius: 40px 40px;
    }
.PopularProducts .BorderSection p{ 
    margin-left: 4vw; 
    font-size: 5vh; 
    color: azure; 
}
.PopularProducts .PopularProductsCards{ 
    flex-basis: 90%;
    height: auto; 
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    
}

.PopularProductsCards .Card{
    flex-basis: 90%;
    border-radius: 20px;
    height: 97%;
    margin-right: 2vw;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #449223;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}
.Card .CardsWords{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.5vh; 
    
}
.Card img{ 
    height: 100%;
    width:100%; 
    border-color: none;
}

.Sales_Recomendation{
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    margin-left: 2vw;
    margin-right: 2vw; 
}
.Sales_Recomendation .BorderSection{
    background: rgb(35,154,35);
    background: radial-gradient(circle, rgba(35,154,35,1) 16%, rgba(35,147,35,1) 37%, rgba(34,142,34,1) 48%, rgba(34,139,34,1) 63%, rgba(38,140,34,1) 68%, rgba(41,140,34,1) 90%, rgba(65,145,35,1) 100%);
    flex-basis: 10%;
    border-radius: 40px 40px;
    }
.Sales_Recomendation .BorderSection p{ 
    margin-left: 4vw; 
    font-size: 5vh; 
    color: azure; 
}
.Sales_Recomendation .Sales_RecomendationCards{ 
    flex-basis: 90%;
    height: auto; 
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    
}

.Sales_RecomendationCards .Card{
    flex-basis: 90%;
    border-radius: 20px;
    margin-right: 2vw;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #449223;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.Card img{ 
    height: 100%;
    width:100%;
    border-color:none;
}
